*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  padding: 20px;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
}

.HotelsList-title {
    color: #555;
    padding-bottom: 28px;
    font-weight: bold;
}